/* ==Imports== */
/* Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";
/* ==Imports End== */

/* Navbar adjustments */
.pokeball-black {
    background-color: #222224;
}

.navbar-menu.is-active {
    
    background-color: #222224;
}

.navbar-item, .navbar-link {
    color: #f0f0f0 !important;
}
.navbar-item.has-dropdown:hover .navbar-link  {
    background-color: #222224;
}
.navbar-link:hover {
    background-color: #ee1515 !important;
}

.navbar-dropdown {
    border-color: grey;
    background-color: #222224;    
}

.navbar-item:hover {
    background-color: #ee1515 !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #f0f0f0;
}
/* End Navbar */

/* Logout Modal */

.modal-content, .modal-content .box {
    display: flex;
    justify-content: center;
}

/* Body */
body {
    margin: 0;
}
main {
min-height: calc(100vh - 200px);
}

/* Footer */
.footer {
    max-height: 50px !important;
}

/* Home page */


/* Auth error */
.errorlist {
    color: #f14668;
}

/* Login page */
.box.container.login-box {
    max-width: 300px;
}

.login-button {
    background-color: #ee1515;
    color: #f0f0f0;
}

.login-button:hover {
    color: #f0f0f0;
}
/* Signup page */
.box.container.signup-box {
    max-width: 300px;
}

.signup-button {
    background-color: #ee1515;
    color: #f0f0f0;
}
.signup-button:hover {
    color: #f0f0f0;
}

/* buttons scale */
button {
    transition: all .2s ease-in-out;
}
button:hover {
    transform: scale(1.05);
}
