{% extends 'base.html' %}
{% block content %}

<section class="section is-medium">
    <div class="columns is-mobile">
        <div class="box container login-box">
            <h2 class="title has-text-centered">Login</h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}} 
                    <hr/>
                <p class="block">
                    Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a>
                </p>
                <div class="has-text-centered"> 
                    <button type="submit" class="button login-button">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}