{% extends 'base.html' %}
{% block content %}

<section class="section">
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <div class="box has-text-centered">
                <h2 class="title">Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}} 
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}