{% extends 'base.html' %}
{% block content %}

<section class="section is-medium">
    <div class="columns is-mobile">
        <div class="box container signup-box">
            <h2 class="title has-text-centered">Signup</h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}} 
                <hr/>
                <p class="block">
                    Already have an account? <a href="{% url 'account_login' %}">Log in</a>
                </p>
                <div class="has-text-centered">
                    <button class="button signup-button" type="submit">Signup</button>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}