{% extends 'base.html' %}
{% block content %}

<section class="section">
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <img id="brand-large" src="../static/images/Brand_Large.png" alt="Large Brand image"/>

            <h1 class="title has-text-centered">
                Pokemon 5e Character Creator
            </h1>    
            <div class="content block">
                This site was created for use with the Pokemon 5e Dungeons and Dragons setting created by @JOEtheDM.  Currently it only supports inital creation of trainer characters and a selection of the starter pokemon and their information.
            </div>
            <div class="content block">
                Pokémon5E is a homebrew system to D&D that layers the world of Pokémon on top of the core rules of D&D. If you have never played Dungeons & Dragons before, do not worry as the 5th edition is easy to get into! You do not need a lot to start playing: a few friends, the D&D Basic Rules, a couple of dice (or a dice app!) and of course the Pokémon5E supplement!
            </div>

        </div>
    </div>
</section>


{% endblock %}