{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <ul class="steps is-medium has-gaps has-content-centered">
                <li class="steps-segment is-active">
                    <a class="steps-marker race-box is-hollow">
                        <i class="fas fa-street-view"></i>
                    </a>
                    <div class="steps-content">
                        <p></p>
                        <p class="">Race</p>
                    </div>
                </li>
                <li class="steps-segment">
                    <a class="steps-marker trainer-box">
                        <i class="fas fa-walking"></i>
                    </a>
                    <div class="steps-content">
                        <p></p>
                        <p class="">Trainer</p>
                    </div>
                </li>
                <li class="steps-segment">
                    <a class="steps-marker ability-box">
                        <i class="icon-muscles"></i>
                    </a>
                    <div class="steps-content">
                        <p></p>
                        <p class="">Abilities</p>
                    </div>
                </li>
                <li class="steps-segment">
                    <a class="steps-marker pokemon-box">
                        <i class="icon-pokeball2"></i>
                    </a>
                    <div class="steps-content">
                        <p></p>
                        <p class="">Pokemon</p>
                    </div>
                </li>
                <li class="steps-segment">
                    <a class="steps-marker description-box">
                        <i class="fas fa-file-alt"></i>
                    </a>
                    <div class="steps-content">
                        <p></p>
                        <p class="">Description</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <form id="character-form" method="POST">
            {% csrf_token %}
            <div class="race-box display-area is-active" id="race-box">
                <div class="content header-bar">
                    <p class="is-size-5">Race</p>
                </div>
                <div class="display-description">
                    <p>Please select a race:<span class="required-indicator">*</span></p>
                    <p><span class="required-indicator">*</span>Means required.</p>
                </div>
                <section class="section">
                {% for race in races %}
                    {% if race.name != "none" %}
                    <div class="card race-card">
                        <header data-target="#{{race.name}}-card" class="card-header is-hidden-fullscreen" data-action="collapse">
                                <p class="card-header-title">
                                    {{race.name}} <span class="is-pulled-right"><i class="fas fa-plus is-pulled-right"></i></span>
                                </p>
                        </header>
                        <div id="{{race.name}}-card" class="is-collapsible">
                            <div class="card-content">
                                <p class="block">
                                    {{race.description}}
                                </p>
                                {% for racefeature in raceFeatures %}
                                    {% if racefeature.race == race %}
                                    <article class="message">
                                            <div class="message-header" data-target="#div-{{racefeature.id}}" data-action="collapse-race">
                                                {{racefeature.name}} <i class="fas fa-plus is-pulled-right"></i>
                                            </div>
                                            <div id="div-{{racefeature.id}}" class="message-body is-collapsible">
                                                <div class="message-body-content">
                                                    <p class="block rf-short">{{racefeature.short_description}}</p>
                                                    <p class="">{{racefeature.description}}</p>
                                                </div>
                                            </div>
                                    </article>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-footer is-desktop">
                                <div id="race-{{race.id}}" class="button select-race" data-action="select">Select {{race.name}}</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </section>
            </div>
            <div class="trainer-box display-area" id="trainer-box">
                <div class="content header-bar">
                    <p class="is-size-5">Trainer</p>
                </div>
                <div class="display-description">
                    <p>The Pokémon Trainer class has the following features:</p>
                    <p><span class="required-indicator">*</span>Means required.</p>
                </div>
                <section class="section">
                    <div class="columns">
                        <div class="column">
                            <div class="is-4 piece-header">
                                <p>Hit Points</p>
                            </div>
                            <div class="content">
                                <span class="bold-me">Hit Die:</span> d{{trainer.hit_dice}}<br>
                                <span class="bold-me">Hit Points at Level 1:</span> 8 + Constitution Modifier<br>
                                <span class="bold-me">Hit Points when levelling:</span> 1d8 + Constitution Modifier
                            </div>
                            
                        <div class="is-4 piece-header">
                            <p>Proficiencies</p>
                        </div>
                        <div class="content">
                            <span class="bold-me">Armor:</span> None <br>
                            <span class="bold-me">Weapons:</span> None <br>
                            <span class="bold-me">Saving Throws:</span> Charisma <br>
                            <span class="bold-me">Skills:</span> Animal Handling <br>
                            <span class="bold-me">Choose 2 More Skills:<span class="required-indicator">*</span></span> 
                                {{character_form.skill_one}}
                                {{character_form.skill_two}}
                        </div>
                        </div>
                        <div class="column">
                            <div class="is-4 piece-header">
                                <p>Starting Equipment</p>
                            </div>
                            <div class="content">
                                {{character_form.trainer_license}}
                                <span>Trainer License</span> 
                                <br>
                                {{character_form.pokedex}}
                                <span>Pokedex</span>
                                <br>
                                {{character_form.pokeballs}}
                                <span>Pokeball(s)</span><span class="required-indicator">*</span>
                                <br>
                                {{character_form.potions}}
                                <span>Potion(s)</span><span class="required-indicator">*</span>
                                <br>
                                {{character_form.pokedollars}}
                                <span>Pokedollar(s)<span class="required-indicator">*</span>, 1000 + (100*4d4)</span>
                                <br>
                                <select name="pack" id="pack">
                                    <option value="Dungeoneer">Dungeoneer Pack</option>
                                    <option value="Explorer">Explorer Pack</option>
                                    <option value="Filcher">Filcher Pack</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    
                    
                    <div id="trainer-features" class="is-4 piece-header">
                        Trainer Features <i class="fas fa-plus is-pulled-right"></i>
                    </div>
                    <div class="content indent is-collapsible">
                        {% for trainerfeature in trainerFeatures %}
                            <article class="message">
                                    <div class="message-header" data-target="#div-t{{trainerfeature.id}}" data-action="collapse-trainer">
                                        {{trainerfeature.name}} <i class="fas fa-plus is-pulled-right"></i>
                                    </div>
                                    <div id="div-t{{trainerfeature.id}}" class="message-body is-collapsible">
                                        <div class="message-body-content">
                                            <p class="block rf-short"><span class="bold-me">Level Acquired:</span> {{trainerfeature.level_acquired}}</p>
                                            <p class="">{{trainerfeature.description}}</p>
                                        </div>
                                    </div>
                            </article>
                        {% endfor %}
                    </div>
                    
                    <div id="specializations" class="piece-header is-vcentered">
                        Specializations<span class="required-indicator">*</span> <i class="fas fa-plus is-pulled-right"></i>
                    </div>
                    <div class="content indent is-collapsible">
                        {% for specialization in specializations %}
                            <article class="message spec-message">
                                    <div class="message-header" data-target="#div-s{{specialization.id}}" data-action="collapse-trainer">
                                        {{specialization.name}} <i class="fas fa-plus is-pulled-right"></i>
                                    </div>
                                    <div id="div-s{{specialization.id}}" class="message-body is-collapsible">
                                        <div class="message-body-content">
                                            <p class="">{{specialization.description}}</p>
                                        </div>
                                        <div class="message-footer is-pulled-right">
                                            <div id="specialization-{{specialization.id}}" class="button select-spec" data-action="select">Select {{specializations.name}}</div>
                                        </div>
                                    </div>
                            </article>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="ability-box display-area" id="ability-box">
                <div class="content header-bar">
                    <p class="is-size-5">Abilities</p>
                </div>
                <div class="display-description">
                    <p>Enter your rolled or point-buy ability results:<span class="required-indicator">*</span></p>
                    <p><span class="required-indicator">*</span>Means required.</p>
                </div>
                <section class="section level" id="ability-content">
                    <div class="level-item has-text-centered">
                        <div>
                            {{character_form.strength}}
                            <label for="strength-input" class="label">Strength</label>
                            </div>
                        </div>
                    <div class="level-item has-text-centered">
                        <div>
                            {{character_form.dexterity}}
                            <label for="dexterity-input" class="label">Dexterity</label>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            {{character_form.constitution}}
                            <label for="constitution-input" class="label">Constitution</label>
                        </div>
                    </div>
                    <div class="level-item has-text-centered"> 
                        <div>
                            {{character_form.intelligence}}
                            <label for="intelligence-input" class="label">Intelligence</label>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            {{character_form.wisdom}}
                            <label for="wisdom-input" class="label">Wisdom</label>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            {{character_form.charisma}}
                            <label for="charisma-input" class="label">Charisma</label>
                        </div>
                    </div>
                </section>
            </div>
            <div class="pokemon-box display-area" id="pokemon-box">
                <div class="content header-bar">
                    <p class="is-size-5">Pokemon</p>
                </div>
                <div class="display-description">
                    <p>Choose your starting Pokemon:<span class="required-indicator">*</span></p>
                    <p><span class="required-indicator">*</span>Means required.</p>
                </div>
                <section class="section">
                    {% for pokemon in pokemons %}
                        <div class="card" id="pokemon-card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content" id="pokemon-stats">
                                        <div class="pokemon-name">
                                            <p class="title is-4">{{pokemon.name}} #{{pokemon.number}}</p>
                                            <p class="is-6"><span class="bold-me">Classification: </span>{{pokemon.classification}}, SR {{pokemon.specie_rating}}</p>
                                            <p class="is-6"><span class="bold-me">Evolution Stage: </span>{{pokemon.evolution_stage}}/{{pokemon.max_evolution_stage}}, ASI {{pokemon.ability_score_increase}}</p>
                                        </div>
                                        <div>
                                            <p><span class="bold-me">STR:</span> {{pokemon.strength}}</p>
                                            <p><span class="bold-me">DEX:</span> {{pokemon.dexterity}}</p>
                                            <p><span class="bold-me">CON:</span> {{pokemon.constitution}}</p>
                                        </div>
                                        <div>
                                            <p><span class="bold-me">INT:</span> {{pokemon.intelligence}}</p>
                                            <p><span class="bold-me">WIS:</span> {{pokemon.wisdom}}</p>
                                            <p><span class="bold-me">CHA:</span> {{pokemon.charisma}}</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="media-content">
                                    {{pokemon.description}}
                                </div>
                            </div>
                            <div id="sideways">
                                <div id="starter_pokemon-{{pokemon.id}}" class="button is-large select-pokemon" data-action="select">Choose</div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
            <div class="description-box display-area" id="description-box">
                <div class="content header-bar">
                    <p class="is-size-5">Description</p>
                </div>
                <div class="display-description">
                    <p>Describe your Trainer:</p>
                    <p><span class="required-indicator">*</span>Means required.</p>
                </div>
                <section class="section">
                    <div>
                        <label for="name-input" class="label">Name<span class="required-indicator">*</span></label>
                        {{character_form.name}}
                    </div>
                    <div>
                        <label for="alignment-input" class="label">Alignment</label>
                        {{character_form.alignment}}
                    </div>
                    <div>
                        <label for="lifestyle-input" class="label">Lifestyle</label>
                        {{character_form.lifestyle}}
                    </div>
                    <div>
                        <label for="hair-input" class="label">Hair</label>
                        {{character_form.hair}}
                    </div>
                    <div>
                        <label for="skin-input" class="label">Skin</label>
                        {{character_form.skin}}
                    </div>
                    <div>
                        <label for="eyes-input" class="label">Eyes</label>
                        {{character_form.eyes}}
                    </div>
                    <div>
                        <label for="height-input" class="label">Height</label>
                        {{character_form.height}}
                    </div>
                    <div>
                        <label for="weight-input" class="label">Weight</label>
                        {{character_form.weight}}
                    </div>
                    <div>
                        <label for="age-input" class="label">Age</label>
                        {{character_form.age}}
                    </div>
                    <div>
                        <label for="notes-input" class="label">Notes</label>
                        {{character_form.notes}}
                    </div>
                </section>
            </div>
            <section class="section prev-next-buttons">
                <div class="">
                    <div class="button is-danger is-outlined is-pulled-left is-static prev-button">Previous</div>
                    <div class="button is-pulled-right trainer-box next-button">Next</div>
                    <div class="button is-pulled-right" id="submit-character">Create Trainer</div>
                </div>
            </section>
            <section class="hidden">
                {{character_form.race}}
                {{character_form.specialization}}
                {{character_form.starter_pokemon}}
                {{character_form.pack}}
            </section>
        </form>
        </div>
    </div>
</section>


{% endblock %}